.bodytext{
  background-color: #f5f5dc;
  color: #909090;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.choices{
  background-color: #f5f5dc;
  color: #000001;
  font-family: "Times New Roman", Times, serif;
  font-style:oblique;
}

.C1{
  background-color: #F0F0F0;

}

.C2{
  background-color: #a9a9a9;
  
}
